// Grid system
.main {
  @include make-sm-column($main-sm-columns);
  /*.sidebar-primary & {
    @include make-sm-column($main-sm-columns - $sidebar-sm-columns);
  }*/
}
.sidebar {
  @include make-sm-column($sidebar-sm-columns);
}

/* The following from JSFiddle for matching height responsive fluid divs */
@media (min-width: 768px) {

	/* top row */
	.col .well{ 
			margin-bottom: -99999px;
			padding-bottom: 99999px;  
	}

	/* bottom row */
	.col-base{ 
			margin-top: -15px; /* cut off top portion of bottom wells */
	}
}

@media (max-width: 767px) {
	.row.base{
			display:none;
	}
}

.col-wrap{
    overflow: hidden; 
}
/* End from JSFiddle for matching height responsive fluid divs */

