.featured_item_icons {
	color: $brand_primary;
	font-size: 6rem;
	display:block;
	text-align:center;
	margin-bottom: 2rem;
	}

.featured_item_icons_bigger {
	color: $brand_primary;
	font-size: 6.3rem;
	display:block;
	text-align:center;
	margin-bottom: 1.7rem;
	}

.main .row .col .well a:hover {
	text-decoration: none;
	}

.front-contact-us {
  margin-bottom: .6rem;
  border:1px solid $gray-dark;
}

.no_color a { color: $gray-dark; }

.list-group .continued { display: none }

.list-group-item-linkable:hover {
    color: #555;
    text-decoration: none;
    background-color: $gray;
    cursor: pointer;
}

.list-group-item.active .list-group-item-text,
.list-group-item.active,
.list-group-item.active:focus, .list-group-item.active:hover,
.list-group-item-text {
    background-color: $body-bg;
    border-color: $body-bg;
    color: $text-color;
}

.list-group-item p:hover {
		background-color: $list-group-hover-bg;
		color: $text-color;
		text-decoration: none;
}

.btn-primary.outline {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 900px) {
  .free_consultation {
      border-radius: 4px;
      margin-top: 25rem;
      padding: 2rem;
  }

  .secondary-tagline {
    font-size: 5rem;
  }
}
