

.nav-toggle {
  position: relative;
  padding-left: 1.25em;
  color: #000;
}

.nav-toggle:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: black;
  box-shadow: 
    0 0.25em 0 0 black,
    0 0.5em 0 0 black;
}

#menu-menu-1 ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
#menu-menu-1 li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
#menu-menu-1 a, #menu-menu-1 .nav-toggle {
  text-decoration: none;
  color: #000;
  display: block;
  transition: .8s background-color;
  text-align: center;
}
 
#menu-menu-1 a:hover, #menu-menu-1 .nav-toggle {
  background-color: #34A3DC;
  color: #fff;
}
 
#menu-menu-1 a.active {
  background-color: #fff;
  color: #51B848;
  cursor: default;
}
 
@media screen and (min-width: 768px) {

	.banner {
		height: 12em;
	}

	.banner {
		z-index: -1;
		-webkit-box-shadow: 0px 0px 8px 2px #000000;
		   -moz-box-shadow: 0px 0px 8px 2px #000000;
				box-shadow: 0px 0px 8px 2px #000000;
	}
	
  
  #menu-menu-1 {
    float: right;
  }
  
  #menu-menu-1 li {
    width: 4.8em;
    border-bottom: none;
    height: 3.2em;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  #menu-menu-1 li {
    display: inline-block;
    margin-right: -4px;
  }
 
  /* Options 2 - Float */
  #menu-menu-1 li {
    float: left;
  }
  #menu-menu-1 ul {
    overflow: auto;
    width: 100%;
    margin: 0 auto;
  }
  #menu-menu-1 {
    background-color: transparent;
  }
  
  li#menu-item-16 {
  	width: 20em;
  }
  
}
